@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  font-family: "Staatliches", cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00ead3;
  color: #005f99;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
  font-style: italic;
}

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #fff5b7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #ff449f;
}

button:active {
  background-color: #ff449f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Name effect */
.text-effect {
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
.title {
  display: flex;
  justify-content: center;
}

.title span {
  font-size: 9vw;
  margin-bottom: 50px;
}

.top {
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.player-panel {
  width: 300px;
}

.versus-panel {
  width: 20%;
  text-align: center;
}

.computer-panel {
  width: 300px;
}

.player-name,
.player-score,
.player-choice,
.computer-name,
.computer-score,
.computer-choice {
  padding: 20px;
}

.versus-results {
  margin: 20px;
}

.results-style {
  font-size: 2em;
}

.results {
  font-size: 2vw;
}

.bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  justify-content: center;
  text-align: center;
}

.rps {
  font-size: 5em;
}

.key {
  margin-top: 5px;
}

.score-color {
  color: #ff449f;
}

@media only screen and (max-width: 768px) {
  .results {
    font-size: 2.5vw;
  }

  .versus-panel {
    width: 25%;
  }
}

@media only screen and (max-width: 425px) {
  .versus-results {
    display: none;
  }

  .vs {
    margin: 10px;
    font-size: 50px;
  }

  .player-name,
  .computer-name {
    font-size: 5vw;
  }

  .fas {
    font-size: 60px;
  }
}
