* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.player-panel {
  width: 40%;
}
.versus-panel {
  width: 20%;
}
.computer-panel {
  width: 40%;
}
.player-name,
.player-score,
.player-choice,
.computer-name,
.computer-score,
.computer-choice {
  padding: 20px;
}
.versus-results {
  margin: 20px;
}

.results-style {
  font-size: 1.5em;
}

.controls {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  justify-content: center;
  text-align: center;
}
